.burger {
	text-decoration: none;
	background: #000000;
	border: 1px solid #5f5f5f;
	border-radius: 54px;
	padding: 22px 20px;
	color: #ffffff;
}

.burger-light {
	display: block;
}
.burger-dark {
	display: none;
}

.burger__list {
	margin-top: 100px;
    
	padding: 0 0 200px 0;
    /* background: #000; */
    width: 100%;
}
.burger__listItem {
	margin-bottom: 50px;
}
.burger__links {
	text-decoration: none;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-align: center;

	color: #ffffff;
}
.burger__links:hover {
	transition: 0.1s all ease;

	color: rgba(255, 255, 255, 75%);
}

.btn_link:hover .burger-light {
	transition: 0.1s ease-in-out all;
	display: none;
}
.btn_link:hover .burger-dark {
	transition: 0.1s ease-in-out all;
	display: block;
}

.card-body{
   
}

.burger__content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    transition: .6s all ;
    transform: translateY(-1500px);
}

.burger__content.show {
    transform: translateY(100px);
    transition: .6s all ;
    height: 100%;
    opacity: 1;
}
.burger__content.show .card-body{
   
    transition: .6s all ;
  
    opacity: 1;
}
